/* Stile CSS per tutti gli elementi, per tutti i tag */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Stile CSS per i titoli h1 */
h1 {
    color: green !important;
    background-color: beige;
}

/* Stile CSS per il paragrafo con id "paragrafo-speciale" */
p#paragrafo-speciale {
    color: red;
}

/* Stile CSS per i paragrafi con classe verde */
p.verde {
    color: green;  
}

/* Stile CSS per i paragrafi con classe blue */
p.blue {
    color: blue;  
}

/* Stile CSS per i titoli h2 con classe blue */
h2.blue {
    color:aqua;
    font-style: italic;
}

/* Stile CSS per i paragrafi all'interno di un div all'interno di un footer */
footer div p {
    background-color: lightsalmon;
}

/* Stile CSS per i titoli h2, h3, h4 e paragrafi con classe viola */
h2, h3, h4, .viola {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}

/* Stile CSS per i link */

/* Stile per lo stato normale del link */
a {
    text-decoration: none;
    color: black;
}
 
/* Stile per lo stato hover del link (quando "vai sopra col mouse") */
a:hover {
    text-decoration: underline !important;
    color: red;
}

/* Stile per lo stato active del link (quando "clicchi il link, senza rilasciarlo") */
a:active {
    text-decoration: line-through !important;
    color: green;
}

/* Stile per lo stato visited del link (quando "hai già visitato il link") */
a:visited {
    color: darkviolet;
}

/* Stile per lo stato link del link (quando "il link è ancora da visitare") */
a:link {
    color: darkblue;
}

/* Stile CSS per il menu orizzontale */
.menuOrizzontale {
    display: flex; /* Flex --> fa in modo che gli elementi block type vengano visualizzati in riga uno dopo l'altro */
    list-style-type: none; /* Rimuove i pallini davanti agli elementi della lista */
    gap: 20px; /* Spazio tra gli elementi della lista */
}