/* Stile CSS per tutti gli elementi, per tutti i tag */
* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 2px;
    margin: 2px;
}

/* Stile CSS per i titoli h1 */
h1 {
    color: green !important;
    background-color: beige;
}

/* Stile CSS per il paragrafo con id "paragrafo-speciale" */
p#paragrafo-speciale {
    color: red;
}

/* Stile CSS per i paragrafi con classe verde */
p.verde {
    color: green;  
}

/* Stile CSS per i paragrafi con classe blue */
p.blue {
    color: blue;  
}

/* Stile CSS per i titoli h2 con classe blue */
h2.blue {
    color:aqua;
    font-style: italic;
}

/* Stile CSS per i paragrafi all'interno di un div all'interno di un footer */
footer div p {
    background-color: lightsalmon;
}

/* Stile CSS per i titoli h2, h3, h4 e paragrafi con classe viola */
h2, h3, h4, .viola {
    color: purple;
    font-family: 'Courier New', Courier, monospace;
}